<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1><center>$$ Financial Lessons for Beginners $$</center></h1>

     <h2><p1> It is my belief that financial knowledge regarding the history of our economic system, how to save, invest, and better position one’s self for
             future success should be taught in school as a core subject matter just as math and reading are.
        </p1>

    <br>

         <p2><br>This project is a website designed to provide anyone who wishes to learn
             more about these subject matters a basic foundation on which they can build upon.
         </p2>

    <br>
         <p3><br>It will provide links with more detailed information regarding the history of our current financial system, various ways of establishing a savings, how to maintain that savings, various investments, and how these things can aid one in positioning themselves for a more successful future.</p3>
    <br>
            <br>Charts, graphs, calculator tools, and wise sayings have been incorporated to make things easier as well as memorable for user.

    <br>
     </h2>
</body>
</html>